package ${basePackage}.web.controller.${moduleName};

import java.util.List;

import lombok.extern.slf4j.Slf4j;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.*;
import ${package}.common.annotation.Log;
import ${package}.common.enums.BusinessType;
import ${package}.common.data.entity.#if(${moduleName} != '')${moduleName}.#end${className};
import ${package}.common.service.${className}Service;
import ${package}.common.controller.BaseController;
import com.szlink.investment.common.core.page.TableDataInfo;
import com.szlink.investment.common.core.domain.AjaxResult;
import com.szlink.investment.common.utils.poi.ExcelUtil;

/**
 * ${tableComment} 信息操作处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Controller
@RequestMapping("/${moduleName}/${classname}")
@Slf4j
public class ${className}Controller extends BaseController {

    private String prefix = "${moduleName}/${classname}";
	
	@Autowired
	private ${className}Service ${classname}Service;
	
	/**
	 * 查询${tableComment}列表
	 */
	@RequiresPermissions("${moduleName}:${classname}:list")
	@GetMapping("/list")
	@ResponseBody
	public TableDataInfo list(${className} ${classname}) {
		startPage();
        List<${className}> list = ${classname}Service.select${className}List(${classname});
		return getDataTable(list);
	}
	
	
	/**
	 * 导出${tableComment}列表
	 */
	@RequiresPermissions("${moduleName}:${classname}:export")
    @PostMapping("/export")
    @ResponseBody
    public AjaxResult export(${className} ${classname}) {
    	List<${className}> list = ${classname}Service.select${className}List(${classname});
        ExcelUtil<${className}> util = new ExcelUtil<${className}>(${className}.class);
        return util.exportExcel(list, "${classname}");
    }
	
	/**
	 * 新增保存${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${classname}:add")
	@PostMapping("/add")
	@ResponseBody
	public AjaxResult add(${className} ${classname}) {
		return toAjax(${classname}Service.insert${className}(${classname}));
	}

	/**
	 * 修改${tableComment}
	 */
	@GetMapping("/detail/{${primaryKey.attrname}}")
	public ${className} detail(@PathVariable("${primaryKey.attrname}") ${primaryKey.attrType} ${primaryKey.attrname}, ModelMap mmap) {
	    return ${classname}Service.select${className}ById(${primaryKey.attrname});
	}
	
	/**
	 * 修改保存${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${classname}:edit")
	@Log(title = "${tableComment}", businessType = BusinessType.UPDATE)
	@PostMapping("/edit")
	@ResponseBody
	public AjaxResult editSave(${className} ${classname}) {
		return toAjax(${classname}Service.update${className}(${classname}));
	}
	
	/**
	 * 删除${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${classname}:remove")
	@Log(title = "${tableComment}", businessType = BusinessType.DELETE)
	@PostMapping( "/remove")
	@ResponseBody
	public AjaxResult remove(String ids) {
		return toAjax(${classname}Service.delete${className}ByIds(ids));
	}
	
}
