<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.general.system.common.mapper.system.SystemUserMapper">

    <resultMap type="org.general.system.common.data.entity.system.SystemUser" id="SystemUserResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="solt"    column="solt"    />
        <result property="status"    column="status"    />
    </resultMap>

	<sql id="selectSystemUserVo">
        select id, create_time, update_time, username, password, solt, status from t_system_user
    </sql>

    <select id="selectSystemUserList" parameterType="org.general.system.common.data.entity.system.SystemUser" resultMap="SystemUserResult">
        <include refid="selectSystemUserVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
             <if test="username != null  and username != '' "> and username = #{username}</if>
             <if test="password != null  and password != '' "> and password = #{password}</if>
             <if test="solt != null  and solt != '' "> and solt = #{solt}</if>
             <if test="status != null "> and status = #{status}</if>
         </where>
    </select>

    <select id="selectSystemUserById" parameterType="Long" resultMap="SystemUserResult">
        <include refid="selectSystemUserVo"/>
        where id = #{id}
    </select>

    <select id="getByUsername" resultMap="SystemUserResult" parameterType="String">
        <include refid="selectSystemUserVo"/>
        where username = #{username} and status = 1
    </select>

    <select id="selectPermissionByUserId" resultType="java.lang.String" parameterType="Long">
        SELECT distinct c.permission FROM t_system_user_role a
        JOIN t_system_role_permission b ON a.role_id = b.role_id
        JOIN t_system_permission c on c.id = b.permission_id
        WHERE a.user_id= #{userId} and permission is not null;
    </select>

    <insert id="insertSystemUser" parameterType="org.general.system.common.data.entity.system.SystemUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_system_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="username != null  and username != ''  ">username,</if>
			<if test="password != null  and password != ''  ">password,</if>
			<if test="solt != null  and solt != ''  ">solt,</if>
			<if test="status != null  ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="username != null  and username != ''  ">#{username},</if>
			<if test="password != null  and password != ''  ">#{password},</if>
			<if test="solt != null  and solt != ''  ">#{solt},</if>
			<if test="status != null  ">#{status},</if>
         </trim>
    </insert>

    <update id="updateSystemUser" parameterType="org.general.system.common.data.entity.system.SystemUser">
        update t_system_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="username != null  and username != ''  ">username = #{username},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="solt != null  and solt != ''  ">solt = #{solt},</if>
            <if test="status != null  ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSystemUserById" parameterType="Long">
        delete from t_system_user where id = #{id}
    </delete>

    <delete id="deleteSystemUserByIds" parameterType="String">
        delete from t_system_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
